body{
    font-family: 'cute font', cursive;
    font-size: 22px;
  }
table{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'cute font', cursive;
  }
  .cute{
    font-family: 'cute font', cursive;
    font-size: 30px;
  }
  .cute2{
    font-family: 'cute font', cursive;
    font-size: 20px;
  }
  .h1{
    font-size: 30px;
    font-weight: bold;
  }

